<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Add and Rate Your Favorite Bond Movies</h1>
    <p class="text-center">One at a time, of course, don't get crazy!</p>
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
</div>
