<div class="carousel">
  <a href="/movies"><img src="http://static.comicvine.com/uploads/original/7/73958/3169624-5685380-navnet-er-bond-james-bond---1.jpg" class="img-responsive" alt="Bond James Bond"></a>
    <div class="carousel-caption">
      <h2>Collecting and Rating 007's Filmed History</h2>
    </div>
</div>

