@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";

.navbar {
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
        //uigradients
}

.navbar-fixed-bottom {
  margin-top: 20px;
  i.fa-twitter-square{color:#95a5a6;}
  i.fa-facebook-square{color:#95a5a6;}
  i.fa-github-square{color:#95a5a6;}
  i.fa-envelope-square{color:#95a5a6;}
  i:hover{color:white;}
}


.btn-default {
    color: white;
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
        //uigradients
}
