@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";

html,
body {
  height: 100%;
}

.container-body {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.navbar {
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
        /* uigradients.com brings teh awesome */
}

.fa-twitter-square{color:#95a5a6;}
.fa-facebook-square{color:#95a5a6;}
.fa-github-square{color:#95a5a6;}
.fa-envelope-square{color:#95a5a6;}

.fa-twitter-square:hover{color:white;}
.fa-facebook-square:hover{color:white;}
.fa-github-square:hover{color:white;}
.fa-envelope-square:hover{color:white;}


.btn-default {
    color: white;
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
}
