.full {
  background: url(http://static.comicvine.com/uploads/original/7/73958/3169624-5685380-navnet-er-bond-james-bond---1.jpg/1920x1080) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}