<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container text-center">
        <a href="https://www.facebook.com/jaredleewlliams"><i class="fa fa-facebook-square fa-3x" style="color:grey"></i></a>
        <a href="https://twitter.com/jaredstweets"><i class="fa fa-twitter-square fa-3x" style="color:grey"></i></a>
        <a href="https://github.com/wayjwilliams/jaredmoviemanager"><i class="fa fa-github-square fa-3x" style="color:grey"></i></a>
        <a href="mailto:jaredwilliamsmail@gmail.com"><i class="fa fa-envelope-square fa-3x" style="color:grey"></i></a>
    </div>
</nav>