<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container text-center">
      <div class="navbar-footer">
        <a href="https://www.facebook.com/jaredleewlliams"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/jaredstweets"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="https://github.com/wayjwilliams/jaredmoviemanager"><i class="fa fa-github-square fa-3x"></i></a>
        <a href="mailto:jaredwilliamsmail@gmail.com"><i class="fa fa-envelope-square fa-3x"></i></a>
       </div> 
    </div>
</nav>